body, html{
    height: 100%;
}

header.startup {
    background-position: center;
    background-image: url("background.jpg");
    background-size: cover;

    height: 100%;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px;
    font-family: 'Montserrat', sans-serif;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: #F05F44;
    border-color: #F05F44; }

.btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 5px;
    cursor: pointer;
}